<head>
    <style>
        footer{
            position: fixed;
            bottom: 0%;
            width: 100%;
            background-color: whitesmoke;
            text-align: center;
            margin-top: auto;
        }
    </style>
</head>

<footer class="bg-body-tertiary text-center text-lg-start">
    <div class="text-center p-3" style="background-color: whitesmoke;">
        Name: apc  &nbsp; &nbsp; &nbsp; ID: 0001 &nbsp; &nbsp; &nbsp; Email: monashdrivers&#64;student.edu.auto
    </div>
</footer>