<h1>apc </h1><div>
<h1> 0001 </h1>
<h2>{{fruits.length}}</h2>

Fruit name: <input [(ngModel)]="inputName" type="text"/><br>
Fruit price: <input [(ngModel)]="inputPrice" type="text"/><br>
Fruit calories: <input [(ngModel)]="inputCalories" type="text"/><br><br>
<button (click)="addFruit()">Add new fruit!</button><br><br>

@if(fruits.length>0){

  <table>
    <tr>
      <td>Name</td>
      <td>Price</td>
      <td>Calories</td>
    </tr>
    @for(fruit of fruits; track $index; let i = $index ){
      <tr>
        <!-- <td>{{i+1}}</td> -->
        <td>{{fruit.name}}</td>
        <td>{{fruit.price}}</td>
        <td>{{fruit.calories}}</td>
      </tr>
    }
  </table>
  }
  
  @else{
    <h3>There are no fruits</h3>
  }