<!DOCTYPE html>
<html>
    <body>
        <%= readingsTotal %>
        <br>
        <h1>Add Reading</h1>
            <form action="/apc/readings/add/post" method="POST">
                <table>
                    <tr>
                        <td> <label>temperature</label></td>
                        <td> <input type="number" name="temperature" /></td>
                    </tr>
                    <tr>
                        <td> <label>windspeed</label></td>
                        <td> <input type="number" name="windspeed" /></td>
                    </tr>
                    <tr>
                        <td> <label>isRainy</label></td>
                        <td> <input type="checkbox" name="isRainy" /></td>
                    </tr>
                    <tr>
                        <td> <button>Submit</button></label></td>
                    </tr>
                </table> 
            </form>
    </body>
    
</html>