<html>

    <!-- THIS ALSO WORKS AS A TABLE: -->

    <head>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td {
                padding: 8px;
                text-align: left;
            }
        </style>
    </head>
    
    <!-- ATTEMPT 1 -->

    <body>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Cost</th>
            </tr>
            <% for(var i = 0; i < db.length; i++){ %>
                <tr>
                    <td><%=db[i].id %></td>
                    <td><%=db[i].pName %></td>
                    <td><%=db[i].pCategory %></td>
                    <td><%=db[i].pCost %></td>
                </tr>
            <% } %>
        </table>
    </body>
</html>