<h2 style="text-align: center; color: blueviolet;"><b>Driver Count: {{driverLength}}</b></h2><br>
<h2 style="text-align: center; color: blueviolet"><b>Package Count: {{packageLength}}</b></h2><br><br>
<h2 style="text-align: center;"><b>Create Counter: {{Counter?.create}}</b></h2><br>
<h2 style="text-align: center;"><b>Retrieve Counter: {{Counter?.retrieve}}</b></h2><br>
<h2 style="text-align: center;"><b>Update Counter: {{Counter?.update}}</b></h2><br>
<h2 style="text-align: center;"><b>Delete Counter: {{Counter?.remove}}</b></h2><br>