<div class="album py-5">
    <div class="container">
        <div class="row row-cols-1 g-3">
            <div class="col">
                <table class="table table-hover">
                    @if (Driver.length === 0){
                        <h2 style="text-align: center;">No Drivers Available</h2>
                    }@else{
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Department</th>
                                <th scope="col">License</th>
                                <th scope="col">Is Active</th>
                                <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(driver of Driver; track $index){
                                <tr>
                                    <td>{{driver.dId}}</td>
                                    <td>{{driver.dName | driverCapitalise}}</td>
                                    <td>{{driver.dDepartment}}</td>
                                    <td>{{driver.dLicense}}</td>
                                    <td>{{driver.dIsActive}}</td>
                                    <td>{{driver.dDate}}</td>
                                    <td>
                                        <button class="btn btn-danger" (click)="deleteDriver(driver._id)">Delete</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" (click)="listPackages(driver)">Packages</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        @if(driverSelect != false){
                            @if(getDriver.dAssignedPackages.length === 0){
                                <p style="text-align: center; color: red;"><b>No Assigned Packages</b></p>
                            } @else{
                                <br>
                                <p style="text-align: center; color: blue"><b>Assigned Packages</b></p>
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Weight</th>
                                        <th scope="col">Destination</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Allocated</th>
                                        <th scope="col">Driver MongoDB ID</th>
                                        <th scope="col">Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for(package of getDriver.dAssignedPackages; track $index){
                                        <tr>
                                            <td>{{package.pId}}</td>
                                            <td>{{package.pTitle}}</td>
                                            <td>{{package.pWeight}}</td>
                                            <td>{{package.pDest}}</td>
                                            <td>{{package.pDesc}}</td>
                                            <td>{{package.pIsAllocated}}</td>
                                            <td>{{package.pDriverID}}</td>
                                            <td>{{package.pCreatedAt}}</td>
                                        </tr>
                                    }
                                </tbody>
                            }
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>