<div class="album py-5">
    <div class="container">
        <div class="row row-cols-1 g-3">
            <div class="col">
                <table class="table table-hover">
                    @if (Package.length === 0){
                        <h2 style="text-align: center;">No Packages Available</h2>
                    }@else{
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Title</th>
                                <th scope="col">Weight</th>
                                <th scope="col">Destination</th>
                                <th scope="col">Description</th>
                                <th scope="col">Allocated</th>
                                <th scope="col">Driver MongoDB ID</th>
                                <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(package of Package; track $index){
                                <tr>
                                    <td>{{package.pId}}</td>
                                    <td>{{package.pTitle}}</td>
                                    <td>{{package.pWeight | packageWeight}}</td>
                                    <td>{{package.pDest}}</td>
                                    <td>{{package.pDesc}}</td>
                                    <td>{{package.pIsAllocated}}</td>
                                    <td>{{package.pDriverID}}</td>
                                    <td>{{package.pCreatedAt}}</td>
                                    <td>
                                        <button class="btn btn-danger" (click)="deletePackage(package._id)">Delete</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" (click)="calculateDistance(package.pDest, $index)">Find Distance</button>
                                        <!-- @if(distanceOutput[$index]){
                                            <div>
                                                <p>{{distanceOutput[$index]}} km</p>
                                            </div>
                                        } -->
                                    </td>
                                    <td>
                                        @if(distanceOutput[$index]){
                                            <div>
                                                <h3>{{distanceOutput[$index]}} km</h3>
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</div>