<html>
        
<body>
    <a href="/">Add Computer</a>
  
    <h1>Add Computer</h1>
    <form action="/apc/computers/add/" method="POST">
        <table>
            <tr>
                <td> <label>CPU</label></td>
                <td> <input type="text" name="cCpu" /></td>
            </tr>
            <tr>
                <td> <label></label> RAM</label></td>
                <td> <input type="number" name="cRam" /></td>
            </tr>
            <tr>
                <td> <label></label> Storage</label></td>
                <td> <input type="number" name="cStorage" /></td>
            </tr>
            <tr>
                <td> <label></label> Is Windows</label></td>
                <td> <input type="checkbox" name="cWindows" /></td>
            </tr>
        </tr>
            <tr>
                <td> <button>Submit</button></label></td>
            </tr>
        </table> 
    </form>
</body>
</html>