<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homepage</title>
</head>
<body>
    <h1>Monash Computer Parts</h1>
    <h2>Name: apc </h2>
    <h2>ID: 0001</h2>

    <table>
        <tr>
            <td>Windows</td>
            <td>Non-Windows</td>
        </tr>
        <% 
            var winTotal = 0;
            var nonWinTotal = 0;

            if (Array.isArray(count)) {
                for(var i = 0; i < count.length; i++){ 
                    if(count[i].name && count[i].name.startsWith("Windows")) {
                        winTotal++;
                    } else {
                        nonWinTotal++;
                    }
                }
            }
        %>
        <tr>
            <td><%= winTotal %></td>
            <td><%= nonWinTotal %></td>
        </tr>
    </table>

    <a href="/apc/computers">Get Computers</a>
    <a href="/apc/computers/windows">Get Only Windows Computers</a>
    <a href="/apc/computers/add">Add Computer</a>
    <a href="/apc/computers/remove">Remove Computer</a>
</body>
</html>
