<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>
            List Computers
        </title>
        <h1>Computer List:</h1>
        <table>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>CPU</td>
                <td>RAM</td>
                <td>Storage</td>
                <td>Is Windows</td>
                <% for(var i = 0; i < count.length; i++){ %>
                    <tr>
                        <td><%=count[i]._id %></td>
                        <td><%=count[i].name%></td>
                        <td><%=count[i].cCpu %></td>
                        <td><%=count[i].cRam%></td>
                        <td><%=count[i].cStorage %></td>
                        <td><%=count[i].cWindows%></td>
                    </tr>
               <% } %>
            </tr>
        </table>

        <h3><% if(count.length == 0){
            return "No computers in the database";
        } %></h3>

    </head>
    </body>
</html>