<main>
    <div class="album py-5">
        <div class="container">
            <h3 class="my-2"> Update Package Destination </h3>
            <div class="row row-cols-1 row-cols-sm-2 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <form>
                                <div class="mb-3">
                                    <label for="pId" class="form-label">MongoDB ID:</label>
                                    <input type="text" id="pId" class="form-control" placeholder="Enter package MongoDB ID"
                                        name="pId" [(ngModel)]="package.pId" required>
                                    <label for="pDest" class="form-label">New Destination:</label>
                                    <input type="text" id="pDest" class="form-control" placeholder="Enter new package destination" name="pDest" [(ngModel)]="package.pDest" required>
                                </div>
                                <button class="btn btn-primary" (click)="updatePackageBypId(package.pId, package.pDest)">Update Package</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>