<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

  <head>
    <title>Delete Driver</title>
    <link href="/bootstrap.min.css" rel="stylesheet"/>
    <style>
        html, body {
          height: 100%;
          margin: 0;
          display: flex;
          flex-direction: column;
        }
        
        footer {
          background-color: whitesmoke;
          text-align: center;
          margin-top: auto;
        }
      </style>
  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/0001/apc/"> Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/0001/apc/addDriver/">Add Drivers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/0001/apc/getDrivers/">Get Drivers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/0001/apc/removeDriver/">Remove Drivers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/0001/apc/addPackage/">Add Packages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/0001/apc/getPackages/">Get Packages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/0001/apc/removePackage/">Remove Packages</a>
            </li>
          </ul>
        </div>
      </nav>
    <main>
      <div class="album py-5">
        <div class="container">
          <h3 class="my-2"> Delete Driver </h3>
          <div class="row row-cols-1 row-cols-sm-2 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <div class="card-body">
                  <form method="GET" action="/0001/apc/removeDriverPost">
                    
                    <div class="mb-3">
                      <label for="id" class="form-label">Driver ID:</label>
                      <input type="text" id="id" class="form-control" placeholder="Enter your ID" name="id" required>
                    </div>
                    
                    <button class="btn btn-danger">Delete Driver</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>

  <footer class="bg-body-tertiary text-center text-lg-start">
    <div class="text-center p-3" style="background-color: whitesmoke;">
      Name: apc  <br>
      ID: 0001 <br>
      Email: monashdrivers@student.edu.auto
    </div>
  </footer>

</html>