<body>
    <main>
        <div class="album py-5">
            <div class="container">
                <h3 class="my-2"> Add Package </h3>
                <div class="row row-cols-1 row-cols-sm-2 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <form>
                                    <div class="mb-3">
                                        <label for="pTitle" class="form-label">Title:</label>
                                        <input type="text" id="pTitle" class="form-control" placeholder="Enter package title"
                                            name="pName" [(ngModel)]="package.pTitle" required>
                                    </div>

                                    <div class="mb-3">
                                        <label for="pWeight" class="form-label">Weight:</label>
                                        <input type="text" id="pWeight" class="form-control" placeholder="Please enter the package weight" name="pWeight" [(ngModel)]="package.pWeight" required>
                                    </div>

                                    <div class="mb-3">
                                        <label for="pDest" class="form-label">Destination:</label>
                                        <input type="text" id="pDest" class="form-control" placeholder="Please enter the destination" name="pDest" [(ngModel)]="package.pDest" required>
                                    </div>

                                    <div class="mb-3">
                                        <label for="pDesc" class="form-label">Description:</label>
                                        <input type="text" id="pDesc" class="form-control" placeholder="Please enter the description" name="pDesc" [(ngModel)]="package.pDesc" required>
                                    </div>

                                    <div class="mb-3">
                                        <label for="pIsAllocated" class="form-label">Is Allocated:</label>
                                        <input type="boolean" id="pIsAllocated" class="form-control" placeholder="Please enter if the package is allocated" name="pIsAllocated" [(ngModel)]="package.pIsAllocated" required>
                                    </div>

                                    <div class="mb-3">
                                        <label for="pDriverID" class="form-label">Driver MongoDB ID:</label>
                                        <input type="text" id="pDriverID" class="form-control" placeholder="Please enter the driver MongoDB ID" name="pDriverID" [(ngModel)]="package.pDriverID" required>
                                    </div>

                                    <button class="btn btn-primary" (click)="addPackage()">Add Package</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>